<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Remove client</title>
</head>
<body>
<p>Are you sure you want to remove the following client?</p>
<form action="#" th:action="@{/client/remove}" th:object="${client}" method="post">
    <label>ID: </label>
    <span th:text="${client.id}"></span><br />
    <label>Name: </label>
    <span th:text="${client.nameClient}"></span><br />
    <label>Email: </label>
    <span th:text="${client.email}"></span><br />
    <label>Phone Number: </label>
    <span th:text="${client.phoneNumber}"></span><br />
    <input type="submit" value="Remove" />
</form>
</body>
</html>
