<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Remove Reservation</title>
</head>
<body>
<p>Are you sure you want to remove the following reservation?</p>
<form action="#" th:action="@{/reservation/remove}" th:object="${reservation}" method="post">
    <label>ID: </label>
    <span th:text="${reservation.id}"></span><br />
    <label>Client: </label>
    <span th:text="${reservation.client.nameClient}"></span><br />
    <label>Car: </label>
    <span th:text="${reservation.car.model}"></span><br />
    <label>Start Date: </label>
    <span th:text="${reservation.startDate}"></span><br />
    <label>End Date: </label>
    <span th:text="${reservation.endDate}"></span><br />
    <label>Status: </label>
    <span th:text="${reservation.status}"></span><br />
    <input type="submit" value="Remove" />
</form>
</body>
</html>
