<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Reservation</title>
</head>
<body>
<form action="#" th:action="@{/reservation/edit}" th:object="${reservation}" method="post">
    <label>ID: </label>
    <input type="text" th:field="*{id}" readonly /><br />
    <label>Client: </label>
    <input type="text" th:field="*{client.id}" required /><br />
    <label>Car: </label>
    <input type="text" th:field="*{car.id}" required /><br />
    <label>Start Date: </label>
    <input type="date" th:field="*{startDate}" required /><br />
    <label>End Date: </label>
    <input type="date" th:field="*{endDate}" required /><br />
    <label>Status: </label>
    <select th:field="*{status}">
        <option th:value="Accepted">Accepted</option>
        <option th:value="Rejected">Rejected</option>
    </select><br />
    <input type="submit" value="Save" />
</form>
</body>
</html>
