<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Remove car</title>
</head>
<body>
<p>Are you sure you want to remove the following car?</p>
<form action="#" th:action="@{/car/remove}" th:object="${car}" method="post">
    <label>ID: </label>
    <span th:text="${car.id}"></span><br />
    <label>Brand: </label>
    <span th:text="${car.brand}"></span><br />
    <label>Model: </label>
    <span th:text="${car.model}"></span><br />
    <label>Registration: </label>
    <span th:text="${car.registrationNumber}"></span><br />
    <label>Status: </label>
    <span th:text="${car.status}"></span><br />
    <input type="submit" value="Remove" />
</form>
</body>
</html>
