<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Remove Invoice</title>
</head>
<body>
<form action="#" th:action="@{remove}" th:object="${invoice}" method="post">
    <input type="hidden" th:field="*{id}" />
    <p>Are you sure you want to remove this invoice?</p>
    <p>ID: <span th:text="${invoice.id}"></span></p>
    <p>Client: <span th:text="${invoice.client.nameClient}"></span></p>
    <p>Car: <span th:text="${invoice.car.brand} + ' ' + ${invoice.car.model}"></span></p>
    <p>Amount: <span th:text="${invoice.amount}"></span></p>
    <p>Issue Date: <span th:text="${invoice.issueDate}"></span></p>
    <p>Status: <span th:text="${invoice.status}"></span></p>
    <input type="submit" value="Remove" />
</form>
</body>
</html>
