<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Remove Invoice</title>
</head>
<body>
<p>Are you sure you want to remove the following invoice?</p>
<form action="#" th:action="@{/invoice/remove}" th:object="${invoice}" method="post">
    <label>ID: </label>
    <span th:text="${invoice.id}"></span><br />
    <label>Client: </label>
    <span th:text="${invoice.client.nameClient}"></span><br />
    <label>Car: </label>
    <span th:text="${invoice.car.model}"></span><br />
    <label>Amount: </label>
    <span th:text="${invoice.amount}"></span><br />
    <label>Issue Date: </label>
    <span th:text="${invoice.issueDate}"></span><br />
    <label>Status: </label>
    <span th:text="${invoice.status}"></span><br />
    <input type="submit" value="Remove" />
</form>
</body>
</html>
